nav {
  color: var(--lightShades);
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  font-size: 1rem;
  ul {
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 0;

    li:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

header {
  position: relative;
}

.parallaxContainer {
  position: relative;
  width: 100%;
  height: clamp(70vh, 100svh, 120vh);
  overflow: hidden;
  background: linear-gradient(#bb7431, #a9dff7);
}

.parallaxLayer {
  position: absolute;
  width: 100%;
  height: 100%;
}
